Run the analysis defined on the code bellow using the available interpreter:

---------------------------------------------------------------------------------------------------------------
CODE TO RUN:
{{prompt}}
---------------------------------------------------------------------------------------------------------------
  
Please output the complete Python code as a single script which fulfills these requirements.
For your tasks, you have the following tools:

{{tools}}
